*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #010513;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #074d97;
}
nav ul li{
    list-style-type: none;
    display: inline-block;

    padding: 10px 20px;
}    
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #77AEE9;
}
.button{
    background-color: #77AEE9;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 23px;
    border-radius: 30px;
}
.content{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translateY(-50%);
    text-align: right;
}
.small-header {
    background-color: #0a1e55; /* Используем темно-синий цвет фона для заголовка */
    color: white; /* Белый цвет текста для контраста */
    text-align: center; /* Центрирование текста */
    padding: 10px 0; /* Добавляем немного отступа сверху и снизу */
    font-size: 20px; /* Устанавливаем размер шрифта */
    letter-spacing: 1px; /* Добавляем небольшой интервал между буквами */

}
li:hover {
    color: white;
    transform: scale(1.15);
    text-shadow: 5px 5px 10px rgb(189, 31, 31);
}
#resume {
    justify-content: center;
    padding: 100px;
    margin: auto;
    border-radius: 40px;
}
div img {
    width: 750px;
    box-shadow: 0px 0px 50px 10px  black;
}
li:hover {
    color: white ;
    transform: scale(1.15);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

h1 {
    text-align: center;
    font-size: 40px;
}

#portfolio {
    font-style: italic;
    font-size: 20px;
    color: white;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #859db6;
}
#portfolio {
    font-style: italic;
    font-size: 20px;
    color: white;
}
li:hover {
    color: white;
    transform: scale(1.15);
    text-shadow: 5px 5px 10px rgb(212, 18, 18);
}
/* ссссссссссс */

.mapbox {
    position: relative;
    height: 250px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
    border: 1px solid var(--jet);
    overflow: hidden;
  }
  
  .mapbox figure { height: 100%; }
  
  .mapbox iframe {
    width: 100%;
    height: 100%;
    border: none;
    filter: grayscale(1) invert(1);
  }
  
  .contact-form { margin-bottom: 10px; }
  
  .form-title { margin-bottom: 20px; }
  
  .input-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin-bottom: 25px;
  }
  
  .form-input {
    color: var(--white-2);
    font-size: var(--fs-6);
    font-weight: var(--fw-400);
    padding: 13px 20px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    outline: none;
  }
  
  .form-input::placeholder { font-weight: var(--fw-500); }
  
  .form-input:focus { border-color: var(--orange-yellow-crayola); }
  
  textarea.form-input {
    min-height: 100px;
    height: 120px;
    max-height: 200px;
    resize: vertical;
    margin-bottom: 25px;
  }
  
  textarea.form-input::-webkit-resizer { display: none; }
  
  .form-input:focus:invalid { border-color: var(--bittersweet-shimmer); }
  
  .form-btn {
    position: relative;
    width: 100%;
    background: var(--border-gradient-onyx);
    color: var(--orange-yellow-crayola);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 20px;
    border-radius: 14px;
    font-size: var(--fs-6);
    text-transform: capitalize;
    box-shadow: var(--shadow-3);
    z-index: 1;
    transition: var(--transition-1);
  }
  
  .form-btn::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
    transition: var(--transition-1);
  }
  
  .form-btn ion-icon { font-size: 16px; }
  
  .form-btn:hover { background: var(--bg-gradient-yellow-1); }
  
  .form-btn:hover::before { background: var(--bg-gradient-yellow-2); }
  
  .form-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  .form-btn:disabled:hover { background: var(--border-gradient-onyx); }
  
  .form-btn:disabled:hover::before { background: var(--bg-gradient-jet); }
  

  .input-wrapper { grid-template-columns: 1fr 1fr; }

  .form-btn {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  /*  */

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;

  margin-left: auto;
    margin-right: auto;
    width: 20%;
}

  
  

.input-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .form-input {
    color: var(--white-2);
    font-size: var(--fs-6);
    font-weight: var(--fw-400);
    padding: 13px 20px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    outline: none;
  }


  /* 
   */

   *{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #010513;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(/images/MyFoto2.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #074d97;
}
nav ul li{
    list-style-type: none;
    display: inline-block;

    padding: 10px 20px;
}    
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #77AEE9;
}
.button{
    background-color: #77AEE9;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 23px;
    border-radius: 30px;
}
.content{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translateY(-50%);
    text-align: right;
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 70px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #aac0d8;
    letter-spacing: 2px;
    font-size: 20px;
}
.email form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.email form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #77AEE9;
    outline: none;
    border-radius: 30px;
}
.email form input:last-child{
    width: 120px;
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    color: white ;
    background-color: #77AEE9;
    top: 6px;
    right: 6px;
}

#about{
    width: 100%;
    padding: 100px 0px;
    margin-bottom: 0px;
    background-color: #010513;
}
#about img{
    height: auto;
    width: 430px;;
}
.text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.text p{
    color: rgba(255, 255, 255, 0.704);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
#resume {
    padding: 100px ;
}

#resume h2 {
    padding-bottom: 100px;
    font-size: 48px;
    color: #77AEE9;
    text-align: center;
}

.wid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.block1, .block2, .block3, .block4 {
    flex: 1;
    text-align: center;
    background-color: #77aee93d;
    padding: 20px;
    border: 1px solid #77AEE9;
    border-radius: 5px;
    max-width: 300px;
}

.block1 img, .block2 img, .block3 img, .block4 img {
    max-width: 50px;
    height: auto;
}

.block1 h4, .block2 h4, .block3 h4, .block4 h4 {
    font-size: 20px;
    color: white;
    margin: 10px 0;
}

.block1 p, .block2 p, .block3 p, .block4 p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.685);
    margin: 10px 0;
}
#projects {
    text-align: center;    
    background-color: #010513;
    max-width: 1100px;
    margin: 0 auto;
}

.project {
    margin: 20px;
    border: 1px solid #77AEE9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#projects h2{
    color: white;
    font-size: 48px;
    padding-bottom: 20px;
}

.project h3 {
    padding-top: 20px;
    font-size: 20px;
    color: #77AEE9;
}

.project p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.679);
    margin: 10px 0;
    padding: 30px;
}

.project a {
    font-weight: bold;
    display: block;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 50px;
}

.project a:hover {
    background-color: #0056b3;
}

#contact {
    margin-top: 100px;
    background-color: #07080e;
    color: #fff;
    max-width: 100%;
}

#contact h2 {
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}

.contact-intro {
    font-size: 16px;
    color: #aaa;
    text-align: center;
}

.contact-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.contact-list li {
    margin: 10px 0;
    font-size: 14px;
}

.contact-link {
    text-decoration: none;
    color: #ffffff;
}

.contact-link:hover {
    text-decoration: underline;
    color: #0056b3;
    font-weight: bold;
}

#contact li a{
    text-decoration: none;
    color: white;
}

#contact p{
    max-width: 800px;
    margin: auto;
    padding: 30px;
}

.foot{
    margin: auto;
    text-align: center;
    padding: 50px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.674);
}

#gallery{
    max-width: 100%;
    margin: auto;
    text-align: center;
}

#gallery h2{
    font-size: 48px;
    color: white;
    padding: 50px;
    padding-top: 60px;

}

.photo img{
    border: 3px solid #77AEE9;
    margin: 10px;
}
.small-header {
    background-color: #0a1e55; /* Используем темно-синий цвет фона для заголовка */
    color: white; /* Белый цвет текста для контраста */
    text-align: center; /* Центрирование текста */
    padding: 10px 0; /* Добавляем немного отступа сверху и снизу */
    font-size: 20px; /* Устанавливаем размер шрифта */
    letter-spacing: 1px; /* Добавляем небольшой интервал между буквами */
}
li:hover {
    color: white;
    transform: scale(1.15);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

/*  */

body .main .main__headline .loading-el {
    opacity: 0;
    -webkit-transform: translateY(30px);
       -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
  }

  .headline__content {
    position: relative;
    width: 100%;
    padding: 0 10%;
  }
  .headline__content.centered {
    text-align: center;
  }
  @media only screen and (min-width: 1200px) {
    .headline__content {
      padding: 0 8rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    .headline__content {
      padding: 0 10rem;
    }
  }

  .headline__subtitle {
    display: block;
    margin-bottom: 1.6rem;
    font: normal 400 1.4rem/1.2 "IBMPlexSans", serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #1a1a1a;
  }
  .headline__subtitle.light {
    color: #ffffff;
  }
  @media only screen and (min-width: 768px) {
    .headline__subtitle {
      font-size: 1.4rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    .headline__subtitle {
      margin-bottom: 1.2rem;
    }
  }

  .headline__text {
    font: normal 300 1.4rem/1.7 "Roboto", sans-serif;
    color: #444444;
    margin-bottom: 3.1rem;
  }
  .headline__text a {
    color: #444444;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .headline__text a:hover {
    color: #606060;
  }
  .headline__text.light {
    color: rgba(255, 255, 255, 0.7);
  }
  .headline__text.light a {
    color: rgba(255, 255, 255, 0.7);
  }
  .no-touch .headline__text.light a:hover {
    color: #a3a3a3;
  }
  @media only screen and (min-width: 768px) {
    .headline__text {
      max-width: 370px;
      margin-bottom: 3.7rem;
    }
  }
  @media only screen and (min-width: 1400px) {
    .headline__text {
      max-width: 420px;
      margin-bottom: 4.2rem;
      font-size: 1.6rem;
    }
  }li:hover {
    color: white;
    transform: scale(1.15);
    text-shadow: 5px 5px 10px rgb(212, 18, 18);
}
.btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    cursor: pointer;
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: grid;
    place-content: center;
    padding: 0.5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
      /* Top-left */ 0% var(--curve-size),
      var(--curve-size) 0,
      /* top-right */ 100% 0,
      100% calc(100% - var(--curve-size)),
      /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
      /* bottom-right 2 */ 0 100%
    );
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: "";
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%;
    }
  
    50% {
      background-position: 70% 100%;
    }
  
    100% {
      background-position: 31% 0%;
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
      /* Top-left */ var(--border-width)
        calc(var(--curve-size) + var(--border-width) * 0.5),
      calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
      /* Top-left */ calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      calc(100% - var(--border-width)) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
;
    
  }
  .input {
    color: #ffffff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 700px;
    text-align: center;
    display: inline-grid;
  grid-gap: 10px;
 
    
   }
   
   .input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
    align-items: center;
    
   }
   .salamm {
    margin-left: auto;
    margin-right: auto;
    width:13%; /* Или другая фиксированная ширина */
  }

     
  




  
  

  
  




  