*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #074d97;
}
nav ul li{
    list-style-type: none;
    display: inline-block;

    padding: 10px 20px;
}    
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #77AEE9;
}
.button{
    background-color: #77AEE9;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 8px 23px;
    border-radius: 30px;
}
.content{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translateY(-50%);
    text-align: right;
}
.small-header {
    background-color: #0a1e55; /* Используем темно-синий цвет фона для заголовка */
    color: white; /* Белый цвет текста для контраста */
    text-align: center; /* Центрирование текста */
    padding: 10px 0; /* Добавляем немного отступа сверху и снизу */
    font-size: 20px; /* Устанавливаем размер шрифта */
    letter-spacing: 1px; /* Добавляем небольшой интервал между буквами */
}
li:hover {
    color: white;
    transform: scale(1.15);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
/*  */
#resume {
    padding: 100px ;
}

#resume h2 {
    padding-bottom: 100px;
    font-size: 48px;
    color: #77AEE9;
    text-align: center;
}

.wid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.block1, .block2, .block3, .block4 {
    flex: 1;
    text-align: center;
    background-color: #77aee93d;
    padding: 20px;
    border: 1px solid #77AEE9;
    border-radius: 5px;
    max-width: 300px;
}

.block1 img, .block2 img, .block3 img, .block4 img {
    max-width: 50px;
    height: auto;
}

.block1 h4, .block2 h4, .block3 h4, .block4 h4 {
    font-size: 20px;
    color: white;
    margin: 10px 0;
}

.block1 p, .block2 p, .block3 p, .block4 p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.685);
    margin: 10px 0;
}
#projects {
    text-align: center;    
    background-color: #010513;
    max-width: 1100px;
    margin: 0 auto;
}

.project {
    margin: 20px;
    border: 1px solid #77AEE9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#projects h2{
    color: white;
    font-size: 48px;
    padding-bottom: 20px;
}

.project h3 {
    padding-top: 20px;
    font-size: 20px;
    color: #77AEE9;
}

.project p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.679);
    margin: 10px 0;
    padding: 30px;
}

.project a {
    font-weight: bold;
    display: block;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 50px;
}

.project a:hover {
    background-color: #f80c0c;
}

#contact {
    margin-top: 100px;
    background-color: #9b6723;
    color: #fff;
    max-width: 100%;
}

#contact h2 {
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}

.contact-intro {
    font-size: 16px;
    color: #aaa;
    text-align: center;
}

.contact-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.contact-list li {
    margin: 10px 0;
    font-size: 14px;
}

.contact-link {
    text-decoration: none;
    color: #ffffff;
}

.contact-link:hover {
    text-decoration: underline;
    color: #0056b3;
    font-weight: bold;
}

#contact li a{
    text-decoration: none;
    color: white;
}

#contact p{
    max-width: 800px;
    margin: auto;
    padding: 30px;
}

.foot{
    margin: auto;
    text-align: center;
    padding: 50px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.674);
}

li:hover {
    color: white;
    transform: scale(1.15);
    text-shadow: 5px 5px 10px rgb(212, 18, 18);
}
div img {
    width: 750px;
    box-shadow: 0px 0px 50px 10px  rgb(204, 20, 20);
}
